<% content_for(:nav) do %>
Hi! this is the welcome page!
<% end %>
<hr>

<h2>Would you rather ?</h2>
<% @answers.each do |answer| %>
  <%= answer.body %>
<% end %>

<br>
<br>
<div class="container-fluid">
<%= link_to "Add a Question", new_question_path, id: "new_question_link", class: "btn btn-info", remote: true %>
</div>
